/* 基本图文组件样式 */
.h5_component{
    position: absolute;
    background-size:100%;
    background-repeat:no-repeat;
    /*opacity:0;*/
}


.h5_component_base_load{
    opacity: 1;
}

.h5_component_base_leave{
    opacity: 0;
}

